name: Weather Prediction Project
 
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
 
env:
  TRAIN_URL: "MLproject/weather_preprocessing/train.csv"
  TEST_URL: "MLproject/weather_preprocessing/test.csv"
  TARGET_VAR: "Apparent Temperature (C)"
  ALPHA: 0.5
  L1_RATIO: 0.1
  RANDOM_STATE: 42
 
jobs:
  build:
    runs-on: ubuntu-latest
 
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE
      - uses: actions/checkout@v3
 
      # Setup Python 3.12.7
      - name: Set up Python 3.12.7
        uses: actions/setup-python@v4
        with:
          python-version: "3.12.7"
      
      # Check Env Variables
      - name: Check Env
        run: |
          echo $TRAIN_URL
          echo $TEST_URL
 
      # Install mlflow
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mlflow
      
      # Run as a mlflow project
      - name: Run mlflow project
        run: |
          mlflow run MLproject --env-manager=local
